@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Online shop that never sleeps</h1>
    <p class="lead">Shop for groceries for your home from wherever you want!</p>
    @*<img src="~/images/logo1.png" class="text-right" style="max-height:200px; " alt="Shop logo" />*@
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Fresh produce</h2>
        <p>
            <i>Freshly picked and delicious fruit and vegetables</i>
        </p>
        <p><img src="~/images/freshProduce.jpg" style="max-width:300px" alt="fresh produce picture" /></p>
    </div>
    <div class="col-md-4">
        <h2>Fast service</h2>
        <p><i>Delivery right in front of your door. Knock knock , we're here in minutes!</i> </p>
        <p><img src="~/images/stopwatch.jpg" style="max-width:300px" alt="stopwatch picture"/></p>
    </div>
    <div class="col-md-4">
        <h2>Your satisfaction is our primary goal</h2>
        <p><i>We'll do all that's in our power for you to have a great experience with us!</i></p>
        <p><img src="~/images/happy.jpg" style="max-width:300px"alt="happyPeoplePicture" /></p>
    </div>
</div>